# Ignore node_modules and local environment files
node_modules
.env
.env.local
.env.*.local

# Ignore build artifacts
build
dist

# Ignore Git directory
.git

# Ignore local editor and OS files
.vscode
.idea
.DS_Store
Thumbs.db 